/*
///////////  |1| TYPOGRAPHY SYSTEM : Rubik
Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86/ 98
|7| WHITE SPACE:
Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-Font Weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

-Line heights:
Default: 
small:
medium:
large:
p tag default:


-Letter spacing

///////////  |2| COLORS:
////Primary-color: #FBA24F #FF1E1E
 -(Darker version) Tints:
 -(Lighter version) Shades:
 -Accents:
 -Greys:  #575757 secondary #828282
 #6F6F6F(Lightest grey allowed on #fdf2e9)
 #767676(Lightest grey allowed on #fff)

///////////  |3| IMAGE:

--- 04 ICON

--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);(If the project is really big)
--- 06 BORDER-RADIUS
Default: 
Medium:

*/

/* GENERAL */
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #575757;
  background-color: #e5e5e5;
}
.section-description {
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.Primary-heading {
}
.btn {
}
.container {
  margin: 0 auto;
}

/* HERO SECTION */
.hero-section {
  max-width: 130rem;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: aquamarine;
}
.hero-details {
  background-color: rgb(255, 127, 204);
}
.highlighter {
}
.section-description {
  color: #828282;
}
.image-box-hero {
}
.hero-image {
  width: 100%;
}
